

/* HEADER */
.header{
  justify-content: space-evenly;
  margin-bottom: 25px;
  margin-top: 10px;
}
nav ul{
  list-style-type: none;
}
.mobile, .ham{
  display: none;
}
nav ul * {
  margin: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
}
.music{
  display: none;
}
.musicButton{
  outline: none;
  border: none;
  background: none;
  color: purple;
}


/* HERO */
.heroleft{
  width: 45%;
}
.heroleft * {
  padding-top: 20px;
  margin-bottom: 15px;
}
.heroh1{
  font-size: 3em;
  text-shadow: 1px 2px 1px #6a32da;
}
.heroh1 ~ p{
  margin-bottom: 30px;
}
.herospan{
  color:purple;
}
.heroimg {
  filter: drop-shadow(0 0 1em #646cffaa);
  width: 55%;
}
.herobutton{
  padding: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: aqua;
}
.herobutton:hover{
  background-color:aquamarine;
  animation: herobutton .5s ease-in 0s 1;
}
@keyframes herobutton {
  from{border-left: 20px solid rebeccapurple;}
}


article {
    max-width: 800px;
    padding: 30px;
    width: 80%;
    margin: 30px auto;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    background-color: #fff8e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.filter {
    margin: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: #6a32da;
    border: none;
    cursor: pointer;
}



@media screen and (max-width: 750px) {
  .desktop{
    display: none;
  }
  .ham, .mobile{
    display: block;
  }
  .heroleft, .heroimg{
    width: 100%;
  }
}