body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  cursor: none;
}
main{
  padding: 1px 50px;
}
.flex{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 3.5em;
  line-height: 1.2;
}