
  /* // useEffect(() => {
  //   const enter = () => setHovering(true);
  //   const leave = () => setHovering(false);

  //   const hoverTargets = document.querySelectorAll(".bg-hover");
  //   hoverTargets.forEach((hoverTarget) => {
  //     hoverTarget.addEventListener("mouseenter", enter);
  //     hoverTarget.addEventListener("mouseleave", leave);
  //   });
  //   return () => {
  //     hoverTargets.forEach((hoverTarget) => {
  //       hoverTarget.removeEventListener("mouseenter", enter);
  //       hoverTarget.removeEventListener("mouseleave", leave);
  //     });
  //   };
  // }, []); */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  cursor: none;
}
body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0px auto;
  padding: 0px 30px;
}
.parentCursor{
  display: flex;
  margin: 40vh auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cursor{
  margin: 20px;
  animation: cursor 1s ease 0s infinite;
  border: 5px solid cyan;
}
.cursors{
  transform: rotate(360deg);
  animation: cursor 1s linear 0s infinite;
}
@keyframes cursor {
  from {transform: rotate(180deg);}
  to {transform: rotate(360deg);}
}
.flex{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  *{
    cursor: auto;
  }
  .cursors{
    display: none;
  }
  .hero{
    flex-direction: column;
  }
}