*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  cursor: none;
}
body{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0px auto;
}
main{
  padding: 100px 25px;
  margin-top: 50px
}
section{
  margin-bottom: 30px;
}
.parentCursor{
  display: flex;
  margin: 40vh auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cursor{
  margin: 20px;
  animation: cursor 1s ease 0s infinite;
  border: 5px solid cyan;
}
.cursors{
  transform: rotate(360deg);
  animation: cursor 1s linear 0s infinite;
}
@keyframes cursor {
  from {transform: rotate(180deg);background-color: purple;}
  to {transform: rotate(360deg);background-color: indigo;}
}
.flex{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 750px) {
  *{
    cursor: auto;
  }
  main{
    
  }
  .cursors{
    display: none;
  }
  .hero{
    flex-direction: column;
  }
}